.main-wrapper {
    max-width: 900px;
    margin: 1.5rem;
}

.movie-detail {
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 40px;
    }

    img {
        width: 200px;
        margin: 30px 30px 30px 0;
        align-self: center;
    }

    .year-rating {
        display: flex;
        justify-content: flex-start;

        > p {
            margin-right: 20px;
            margin-top: 0;
            margin-bottom: 0;
            color: #555;
            font-size: 1.5rem;
        }
    }

    .plot {
        font-size: 1.25rem;
    }
}

.user-rating-wrapper {    
    h2 {
        padding-left: 10px;
    }
}


.critic-rating-wrapper {
    border: 1px solid #888;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6rem;

    p {
        align-self: center;
    }
}



/* tablet portrait */
@media (min-width: 500px) {
    .main-wrapper {
        max-width: 500px;
        margin: 1.5rem auto;
    }
}

/* Screens larger than 1024 px (tablets and web) */
@media (min-width: 1024px) {
    .main-wrapper {
        max-width: 900px;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto 250px;
        grid-template-rows: auto 100px;
        margin: 20px auto;
    }

    .movie-detail {
        display: grid;
        grid-template-columns: 230px auto;
    }

    .user-rating-wrapper {
        margin-left: 50px;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .critic-rating-wrapper {
        margin-top: 0;
    }
}
